<mat-toolbar class="custom-toolbar" color="primary" >
    <div >
        <a mat-button class="example-icon mr20" [routerLink]="'/home'">
            <h1>Inicio</h1>
        </a>
        <a mat-button class="example-icon mr20" [routerLink]="'/medicos'">
            <h1>Veterinarios</h1>
        </a>
        <a mat-button class="example-icon mr20" [routerLink]="'/servicios'">
            <h1>Servicios</h1>
        </a>
       
        <ng-container>
            <a mat-button class="example-icon mr20" [routerLink]="'/perfil'">
                <h1>Perfil</h1>
            </a>
        </ng-container>
        
    </div>
</mat-toolbar>
